<body th:fragment="menu">
<ul class="menu">
    <li><a href="/">NAIN</a></li>
    <li sec:authorize="isAuthenticated()"><a href="/projects">PROJECTS</a></li>
    <li sec:authorize="isAuthenticated()"><a href="/tasks">TASKS</a></li>
    <!--    <li sec:authorize="hasRole('Administrator')"><a href="/api/user/get">ADMIN</a></li>-->
    <!--    <li sec:authorize="hasRole('User')"><a href="/api/user/get">USER</a></li>-->
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">LOGIN</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">LOGOUT</a></li>
</ul>
<br/>
</body>